/*

Text emphasis: #bb401f;
Text normal: #ff5025;

Text description header: #523223;
Text description : #977979;

Text pink: #ff9391;

Text underline: #fdeaf0;

Gradient left: #df1d76;
Gradient right: #ff5025;

Recommendation Header: #fdeaf0;

*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

header {
  padding: 25px 10px;

  background: white;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
}

section {
  padding: 25px 150px;
}

.store-logo {
  width: 5%;
  display: inline-block;
}

.store-logo > img {
  width: 100%;
}

.store-categories {
  display: inline-block;
  color: #ff5025;
  text-transform: uppercase;
}

.store-categories > div {
  display: inline-block;
  padding: 5px 10px;
}

.right-nav {
  display: inline-block;

  color: #ff9391;

  float: right;
}

.right-nav > div {
  display: inline-block;
  padding: 5px 15px;
}

.featured-product {
  margin-top: 100px;
}

.hero-area {
  background: red;
  background: -webkit-linear-gradient(left, #df1d76 , #ff5025); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #df1d76, #ff5025); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #df1d76, #ff5025); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #df1d76 , #ff5025); /* Standard syntax */
}

.callout-image {
  display: inline-block;
  border: solid 2px blue;
  width: 50%;
}

.callout-image > img {
  width: 100%;
  display: inline-block;
}

.hero-area > .product-content-wrapper {
  color: white;
}

.product-content-wrapper {
  border: solid 2px black;
  display: inline-block;
  width: 30%;
  margin: 0 5%;
}

.product-content-wrapper > .product-title {
  padding-bottom: 20px;
}



.product-title {
  font-size: 40px;
  padding: 2px 0;
}

.product-collection, .product-reviews {
  color: #523223;
}

.product-reviews {
  text-decoration: underline;
}

.product-purchase-button {
  background: white;
  color: #ff5025;
  padding: 15px 20px;
  border-radius: 5px;
  display: inline-block;
}

.product-details-header {
  border-bottom: solid 1px #ff9391;
}

/* Recommendations */

.recommendations-banner {
  padding: 15px 0;
  color: #523223;
  background: #fdeaf0;
  font-size: 20px;
  text-align: center;
}

.product-tile {
  display: inline-block;
  width: 33%;
  color: white;
  padding: 0 2%;
}

.product-tile > img {
  width: 100%;
}

.product-tile > .product-name {
  font-size: 20px;
  display: inline-block;
}

.product-tile > .product-price {
  font-size: 20px;
  display: inline-block;
}

sup {
  font-size: xx-small;
  vertical-align: super;
}

footer {
  padding: 25px 10px;
}

.legal {
  float: right;
}
